Source: piper
Section: gnome
Priority: optional
Maintainer: Jente Hidskes (Hjdskes) <hjdskes@gmail.com>
Uploaders: gogo <trebelnik2@gmail.com>
Build-Depends: debhelper (>= 8),
               gcc,
               git,
               pkg-config,
               python3-dev,
               meson (>= 0.41),
               ninja-build,
               libratbag-tools,
               python-gi-dev
Standards-Version: 3.8.3
Homepage: https://github.com/libratbag/piper

Package: piper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gir1.2-rsvg-2.0, python3-evdev, python3-lxml, libratbag-tools,
Description: Gaming mouse application
 Piper is a GTK+ application to configure gaming mice, using libratbag via ratbagd. In order to run Piper, ratbagd has to be running (without it, you'll get to see a pretty mouse trap).
